body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 10px;
}

.user-name {
  width: 300px;
  display: inline-block;
}

.user-email {
  padding-left: 10px;
}

.user-entry {
  margin-bottom: 10px;
  padding: 5px;
}

.user-entry:nth-child(odd) {
  background-color: #EEEEEE;
}

.search-input {
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px;
  width: 300px;
}

.user-form {
  margin: 50px;
}
.form-email {
  display: block;
  margin-bottom: 20px;
}

.submit-button {
  display: block;
  margin-top: 20px;
}

.navigation-bar {
  margin: 10px;
}

.navigation-bar a {
  margin-right: 20px;
  padding: 5px;
  border-radius: 3px;
}

.navigation-bar a.active {
  background-color: lightgray;
}

.submit-error {
  color: red;
  margin-top: 10px;
}

.login-status {
  margin-right: 10px;
}
